<p>
  <strong>Collection Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @article.author %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @article.slug %>
</p>

<p>
  <strong>Page Count:</strong>
  <%= @article.page_count %>
</p>

<p>
  <strong>First Page:</strong>
  <%= @article.first_page %>
</p>

<p>
  <strong>Author Bio:</strong>
  <%= @article.bio %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> | <%= link_to 'Admin Index', admin_index_path %> | <%= link_to 'Standard View', article_path(@article) %> | <%= link_to 'Custom Slug', edit_article_slug_path(@article) %>

<br><br>

<h2>Pages</h2>
<%= render @article.pages.sort_by { |page| page.page_number } %>

<h2>Add a page:</h2>
<%= form_for([@article, @article.pages.new]) do |form| %>
  <%= render partial: 'pages/form', locals: {f: form} %>
<% end %>

<br><br>

<h2>Stories</h2>
<%= render @article.stories %>

<h2>Add a story:</h2>
<%= form_for([@article, @article.stories.new]) do |form| %>
  <%= render partial: 'stories/form', locals: {f: form} %>
<% end %>