<p>
	<strong>Collection Title:</strong>
	<%= @article.title %>
</p>

<p>
	<strong>Author:</strong>
	<%= @article.author %>
</p>

<p>
	<strong>Slug:</strong>
	<%= @article.slug %>
</p>

<p>
	<strong>Page Count:</strong>
	<%= @article.page_count %>
</p>

<p>
	<strong>First Page:</strong>
	<%= @article.first_page %>
</p>

<p>
	<strong>Author Bio:</strong>
	<%= @article.bio %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> | <%= link_to 'Admin Index', admin_index_path %> | <%= link_to 'Standard View', article_path(@article) %>

<br><br>

<h2>Pages</h2>
<%= render @article.pages %>

<h2>Add a page:</h2>
<%= render 'pages/form' %>