<%= render 'pages/header' %>

<div class="page-wrap">
   <div id="header"><h1><em><%= @article.title %></em></h1></div>
   <div id='author'><a href=/<%= @article.slug %>/bio><%= @article.author %></a></div>
   <div id='content'>
   <%= @article.bio.html_safe %>
   </div>
</div>

<%= render 'articles/biofooter' %>