<div id='home-page-wrap'>
  <div id='home-page-header'>
     <h1><em><a href="/about">Western Beefs of North America</a></em></h1>
  </div>

  <center><%= image_tag "westernbeefscactus.jpg" %></center>

  <div id ='home-page-content'>
    <center>
    <% @articles.each do |article| %>
       <a href = /<%= article.slug %>> <%= strip_tags article.title %> by <%= article.author %></a>
       <br><br>
    <% end %>
    </center>
  </div>

  <%= render 'subscribe' %>
</div>
