<%= render 'metatags' %>

<div class="page-wrap">
  <div id="header">
    <h1><em><%= @article.title.html_safe %><%= " | #{@article.author}" if @article.has_index? %></em></h1>
  </div>
  <% unless @article.has_index? %>
    <div id='author'>
      <%= link_to @article.author, article_bio_path(id: @article.slug) %>
    </div>
  <% end %>   
    <div id='content'>
      <%= %{<div id='content-nav'>}.html_safe if @article.has_index? %>
        <br>
        <%= @article.first_page.html_safe %>
      <%= %{</div>}.html_safe if @article.has_index? %>
    </div>
</div>

<%= render 'pages/footer' unless @article.has_index? %>
