<%= render 'pages/header' %>

<div class="page-wrap">
   <div id="header"><h1><em><%= @article.title.html_safe %></em></h1></div>
   <div id='author'><a href=/<%= @article.slug %>/bio><%= @article.author %></a></div>
   <div id='content'>
   <% if @article.first_page_title != "" %>
     <%= @article.first_page_title %>
     <br>
   <% end %>
   <br>
   <%= @article.first_page.html_safe %>
   </div>
</div>

<%= render 'articles/footer' %>