<%= form_for([@article, @article.pages.build]) do |f| %>
	<p>
		<%= f.label :page_number %><br>
		<%= f.text_field :page_number %>
	</p>
	<p>
		<%= f.label :body %><br>
		<%= f.cktext_area :body, rows: 10 %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>