<%= render 'pages/header' %>

<div class="page-wrap">
   <div id="header"><h1><em><%= @paginable.title.html_safe %></em></h1></div>
   <div id='author'><a href=/<%= @article.slug %>/bio><%= @article.author %></a></div>
   <div id='content'>
   <% unless @page.page_title.nil? %>
     <%= @page.page_title %>
     <br>
   <% end %>
   <br>
   <%= @page.body.html_safe %>
   </div>
</div>

<%= render 'pages/footer' %>