<%= form_for([@article, @article.stories.build]) do |f| %>
	<p>
		<%= f.label :page_count %><br>
		<%= f.number_field :page_count %>
	</p>
	<p>
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>