<!DOCTYPE html>
<html lang = "en" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# blog: http://ogp.me/ns/blog#">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title><%= content_for?(:title) ? yield(:title) : "Western Beefs of North America" %></title>
	<meta name="author" content="<%= content_for?(:author) ? yield(:author) : "Author" %>">
	<meta name="Description" content="<%= content_for?(:description) ? yield(:description) : "Western Beefs is home to some of the best long-form contemporary poetry and fiction around." %>">
	<link rel="shortcut icon" href="/favicon.ico" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<% unless @article.nil? %>
		<style>
		  #author {
	        width: <%= @article.body_width %>px;
		  }

		  #content-nav {
	        width: <%= @article.body_width %>px;
		  }

		  #content {
	        width: <%= @article.body_width %>px;
		  }
	  </style>
	<% end %>
  <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-43087035-3', 'westernbeefs.com');
	  ga('send', 'pageview');
	</script>
</head>
<body>

<%= yield %>

</body>
</html>
